body {
	border: 20px solid #bdc3c7;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	max-width: 600px;
	width: 80%;
	margin: 20px auto; /* centers element*/
	/*padding: 10px; */ /* he used padding here instead of margin in div div*/
}

div div {
	margin: 10px;
	/*border-bottom: 1px solid lightgray;*/
}

.quote { /* div p:nth-of-type(1)*/
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

h2 {
	color: #2c3e50;
	font-weight: 700;
	font-size: 2.0rem;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: .2rem; /* initially tried 2px */
	font-weight: 400;
}

hr {
	height: 1px;
	background-color: #bdc3c7;
	border-style: hidden;
}