body {
	background: black;
}

.red {
	/*background-color: red;*/
	padding: 1px;
}

.content {
	margin: 5px;
	border: 2px solid lightblue;
}

.container {
	padding-top: 20px;
}

.jumbotron {
	text-align: center;
}