body {
	background-color: #232323;
}

#heade {
	text-align: center;
	font-size: 25px;
}

.heade {
	background-color: lightblue;
	color: white;
}

#rgbInfo {
	font-size: 35px;
}

#nav {
	margin: 0 auto;
	max-width: 600px;
	color: lightblue;
	text-align: center;
}

#navBkgd {
	background-color: white;
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}

.chosenDifficulty {
	color: white;
	background-color: lightblue;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%
}

#container {
	margin: 0 auto;
	max-width: 600px;
}