
h1 {
	text-align: center;
}
table {
	width: 50%;
	margin: auto; 
}

.vertical{
	border-width: 1px;
	border-color: black;
	border-left-style: solid;
	border-right-style: solid;
}

.horizontal{
	border-width: 1px;
	border-color: black;
	border-top-style: solid;
	border-bottom-style: solid;
}
/*for middle verticle row, l & r borders*/
/* td:nth-of-type(2){
}*/

/*for middle horiz row, t & b borders*/
/*tr:nth-of-type(2) td{
	
}*/

td {
	width: 100px;
	height: 100px;
}