* {
  margin: 0;
  padding: 0;
  /*https://stackoverflow.com/questions/29307357/get-rid-of-webkit-padding-start-40px*/
}

body { /*uigradients.com*/
  background: linear-gradient(to right, #00f9ed , white);
  font-family: roboto
}

input {
	padding: 10px 10px 10px 20px;
	border-width: 0px;
	background-color: lightgray; /*#f7f7f7*/
	color: #2980b9;
	outline: none;
	font-size: 18px;
	height: 40px;
	width: 100%;
	box-sizing: border-box;
}

input:focus {
	border: 3px solid #2980b9;
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li { 
	background: lightgray; /*#f7f7f7*/
	height: 40px; /*these two properties got*/
	line-height: 40px; /*delete i centered*/
}

li:nth-child(odd) { /*or 2n for pattern*/
	background: white; 
}

li div i {
	visibility: hidden;
	width: 0px;
}

.contentFontStyle{
	font-size: 16px;
}

.deleteBtn {
	float: left;
	width: 0px;
	background-color: red;
	text-align: center;
	margin-right: 20px;
	color: white;
}

.todoText {
    /*word-wrap:break-word;*/
    display: block;
    /*word-break:break-all;*/
}

.strikeDone {
	text-decoration: line-through;
}

.strikeTemp {
	text-decoration: line-through;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#containerMain {
	padding: 5px;
	margin: 100px auto;
	max-width: 360px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#heading {
	background-color: #2980b9;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: normal; /*Needed if use h1 instead of div*/
	color: white;
}

#title {
	text-transform: uppercase;
}

#btnToggle { /*.fa-plus interferes with rotation*/
	float: right;
}

#inputDiv {
	background: lightgray; /*#f7f7f7*/
}
